name: Build DragonJAR Badge Firmware

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up PlatformIO
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install PlatformIO
        run: pip install platformio

      - name: Build firmware
        run: platformio run

      - name: Upload compiled firmware
        uses: actions/upload-artifact@v4
        with:
          name: dragonjar-firmware-bin
          path: .pio/build/**/firmware.bin

